.container

  .well.col-md-4.col-md-offset-4.signup
    %h1 Sign Up for gCamp!

    - if @user.errors.present?
      %ul
      - @user.errors.full_messages.each do |message|
        %li.error
          = message

    = form_for @user, :html => {:class => 'form-horizontal'}, url: signup_path do |f|

      .form-group.signup-name
        = f.label :first_name, :class => "control-label"
        = f.text_field :first_name, :class => "form-control"

      .form-group.signup-name
        = f.label :last_name, :class => "control-label"
        = f.text_field :last_name, :class => "form-control"

      .form-group
        = f.label :email, :class => "col-md-2 control-label"
        = f.email_field :email, :class => "form-control"

      .form-group
        = f.label :password, :class => "col-md-2 control-label"
        = f.password_field :password, :class => "form-control"

      .form-group
        = f.label :password_confirmation, :class => "col-md-6 control-label"
        = f.password_field :password_confirmation, :class => "form-control"

      = f.submit "Create New User", :class => "btn btn-primary signup"
