.container

  .well.col-md-4.col-md-offset-4.signup
    %h1 Sign Up for gCamp!

    = form_for @user, :html => {:class => 'form-horizontal'}, url: signup_path do |f|

      .form-group
        = f.label :email, :class => "col-md-2 control-label"
        = f.email_field :email, :class => "form-control"

      .form-group
        = f.label :password, :class => "col-md-2 control-label"
        = f.password_field :password, :class => "form-control"

      .form-group
        = f.label :password_confirmation, :class => "col-md-3 control-label"
        = f.password_field :password_confirmation, :class => "form-control"

      =f.submit "Create New User"
