.container

  %h1
    = title
  %br

  = render "shared/errors", source: @task

  = form_for @task, :html => {:class => 'form-horizontal'} do |f|
    .form-group
      = f.label :description, :class => "col-md-1 control-label"
      .col-md-11
        = f.text_field :description, :class => "form-control"

    .form-group
      = f.label :due_date, :class => "col-md-1 control-label"
      .col-md-2
        =f.date_field :due_date, :class => "form-control"
      .btn.btn-default.btn-md{:disabled => 'disabled'}
        %span.glyphicon.glyphicon-calendar

    .form-group
      .col-md-12.col-md-offset-1
        .checkbox
          %label
            = f.check_box :complete
            Complete

    .actions.col-sm-offset-1
      = f.submit "#{button}", :class => "btn btn-primary"
