.container

  %h1 Edit task
  %br

  = form_for @task, :html => {:class => 'form-horizontal'} do |f|
    - if @task.errors.any?
      #error_explanation
        %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
        %ul
          - @task.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :description, :class => "col-md-1 control-label"
      .col-md-11
        = f.text_field :description, :class => "form-control"

    .form-group
      .col-md-12.col-md-offset-1
        .checkbox
          %label
            = f.check_box :complete
            Complete

    .actions.col-sm-offset-1
      = f.submit 'Update Task', :class => "btn btn-primary"
