%div.container
  %div.test
    %button.btn.btn-primary.pull-right{:type => "button"}= link_to 'New Task', new_task_path
    %h1 Tasks
    %hr
    %table
      %tr
        %th Description
    %hr

    - @tasks.each do |task|
      %tr
        %td
          %p
            = task.description
        %td
          = link_to 'Destroy', task, :class => "btn btn-danger pull-right", :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td
          %button.btn.btn-success.pull-right{:type => "button"}= link_to 'Show', task
        %td
          %button.btn.btn-primary.pull-right{:type => "button"}= link_to 'Edit', edit_task_path(task)
      %hr
%br
