.container
  = link_to 'New Task', new_project_task_path, :class => "btn btn-primary pull-right new-task"
  .pull-right.sort
    = link_to_if(params[:sort_by] != 'complete',
      'Incomplete', project_tasks_path(sort_by: 'complete'))
    |
    = link_to_if(params[:sort_by] == 'complete', 'All', project_tasks_path)

  %h1
    = "Tasks for #{@project.name}"

  %ol.breadcrumb
    %li
      = link_to "Projects", projects_path
    %li
      = link_to "#{@project.name}", project_path(@project)
    %li.active
      Tasks

  %table.table
    %tr
      %th Description
      %th Complete
      %th Due Date
      %th
    - @tasks.each do |task|
      %tr
        %td
          = link_to task.description, [@project, task]
          %span.badge
            = task.comments.count
        %td
          = task.complete
        %td
          = task.due_date
        %td.delete
          = link_to content_tag(:span, "", class: 'glyphicon glyphicon-remove pull-right'),
          project_task_path(@project, task),
          method: :delete, :data => {:confirm => "Are you sure?"}
          = link_to 'Edit', edit_project_task_path(@project, task), :class => "btn btn-primary pull-right"
  %hr
