.container
  = link_to 'New Task', new_task_path, :class => "btn btn-primary pull-right new-task"
  .pull-right.sort
    = link_to_if(params[:sort_by] != 'complete',
      'Incomplete', tasks_path(sort_by: 'complete'))
    |
    = link_to_if(params[:sort_by] == 'complete', 'All', tasks_path)

  %h1 Tasks
  %table.table
    %tr
      %th Description
      %th Complete
      %th Due Date
      %th
    - @tasks.each do |task|
      %tr
        %td
          = task.description
        %td
          = task.complete
        %td
          = task.due_date
        %td
          = link_to 'Destroy', task, :class => "btn btn-danger pull-right", :method => :delete, :data => { :confirm => 'Are you sure?' }
          = link_to 'Show', task, :class => "btn btn-success pull-right"
          = link_to 'Edit', edit_task_path(task), :class => "btn btn-primary pull-right"
  %hr
