%div.container
  = link_to 'New Task', new_task_path, :class => "btn btn-primary pull-right new-task"
  %h1 Tasks
  %table.table
    %tr
      %th Description
      %th Complete
      %th
    - @tasks.each do |task|
      %tr
        %td
          = task.description
        %td
          = task.complete
        %td
          = link_to 'Destroy', task, :class => "btn btn-danger pull-right", :method => :delete, :data => { :confirm => 'Are you sure?' }
          = link_to 'Show', task, :class => "btn btn-success pull-right"
          = link_to 'Edit', edit_task_path(task), :class => "btn btn-primary pull-right"
  %hr
