.container

  %br

  %p
    %b Description:
    = @task.description
  %br

  %p
    %b Completed:
    = @task.complete
  %br

  %p
    %b Due Date:
    = @task.due_date
  %br

  = link_to 'Edit', edit_task_path(@task)
  |
  = link_to 'Back', tasks_path
