.container

  = link_to 'Edit', edit_project_task_path(@project, @task),
  :class => "btn btn-info pull-right project-edit"

  .page_header
    %h1= @task.description

    %ol.breadcrumb
      %li
        = link_to "Projects", projects_path
      %li
        = link_to @project.name, project_path(@project)
      %li
        = link_to "Tasks", project_tasks_path

  %p
    %b Completed:
    = @task.complete
  %p
    %b Due Date:
    = @task.due_date

  %h2 Comments
  %br

  - @comments.each do |comment|
    .row
      .col-md-3.slim
        - if comment.user
          = link_to comment.user.full_name, user_path(comment.user.id)
        - else
          = "(Deleted User)"
        .text-muted
          = "#{time_ago_in_words(comment.created_at)} ago"
        %br
      .col-md-9.no-padding
        = comment.comment
        %br
        %br

  .row
    = form_for [@project, @task, @comment], :html => {:class => 'form-horizontal'} do |f|
      .form-group
        = f.text_area :comment,
          :class => "form-control col-md-offset-3 comment-text", rows: "4"
      .form-group
        =f.submit "Add Comment", :class => "btn btn-primary col-md-offset-3"
