.container

  %br

  %p
    %b Description:
    = @task.description
  %br

  %p
    %b Completed:
    = @task.complete
  %br

  %p
    %b Due Date:
    = @task.due_date
  %br

  = link_to 'Edit', edit_project_task_path(@project, @task)
  |
  = link_to 'Back', project_tasks_path
