.container

  = link_to "Create New User", new_user_path, :class => "btn btn-primary pull-right new-task"

  %h1 Users
  %hr
  %table.table
    %thead
      %tr
        %th
          Name
        %th
          E-Mail
        %th
    %tbody
    - @users.each do |user|
      %tr
        %td
          = link_to "#{user.first_name} #{user.last_name}", user_path(user)
        %td
          = mail_to(user.email)
        - if user == current_user
          %td{:align => "right"}
            = link_to "edit", edit_user_path(user)
  %hr
