.container

  = link_to "Create New Project", new_project_path, :class => "btn btn-primary pull-right new-task"

  .page-header
    %h1 Projects

    %table.table
      %thead
        %tr
          %th
            Name
          %th
            Members
          %th
            Tasks
      %tbody
      - if current_user.admin
        - @projects.each do |project|
          %tr
            %td
              = link_to project.name, project_path(project)
            %td
              = link_to project.memberships.count, project_memberships_path(project)
            %td
              = link_to project.tasks.count, project_tasks_path(project)
      - else
        - current_user.projects.each do |project|
          %tr
            %td
              = link_to project.name, project_path(project)
            %td
              = link_to project.memberships.count, project_memberships_path(project)
            %td
              = link_to project.tasks.count, project_tasks_path(project)

  .page-header
    %h1 Pivotal Tracker Projects


    %table.table
      %thead
        %tr
          %th
            Name
      %tbody
      - @tracker_projects.each do |project|
        %tr
          %td
            = link_to project[:name], tracker_project_path(:id => project[:id])
          %td
            = project
