.container

  - if current_user.admin || owner?(@project, current_user) 
    = link_to "Edit", edit_project_path(@project), :class => "btn btn-primary pull-right new-task"

  %h1
    = @project.name

  %ol.breadcrumb
    %li
      = link_to "Projects", projects_path
    %li.active
      = @project.name

  - if @project.tasks.count == 1
    = link_to "#{@project.tasks.count} Task", project_tasks_path(@project)
  -else
    = link_to "#{@project.tasks.count} Tasks", project_tasks_path(@project)

  %br
  %br

  - if @project.memberships.count == 1
    = link_to "#{@project.memberships.count} Member", project_memberships_path(@project)
  -else
    = link_to "#{@project.memberships.count} Members", project_memberships_path(@project)

  %br
  %br

  .well.black
    %p.strong Delete Project
    = "Deleting this project will also delete #{pluralize(@project.memberships.count, "membership")},
      #{pluralize(@project.tasks.count, "task")} and associated comments"
    %br
    %br
    = link_to "Delete", @project, :class => "btn btn-danger" ,
      :method => :delete, :data => { :confirm => 'Are you sure?' }
