.container

  = link_to "Destroy", @project, :class => "btn btn-danger pull-right new-task" , :method => :delete, :data => { :confirm => 'Are you sure?' }
  = link_to "Edit", edit_project_path(@project), :class => "btn btn-primary pull-right new-task"

  %h1
    = @project.name

  %ol.breadcrumb
    %li
      = link_to "Projects", projects_path
    %li.active
      = @project.name

  - if @project.tasks.count == 1
    = link_to "#{@project.tasks.count} Task", project_tasks_path(@project)
  -else
    = link_to "#{@project.tasks.count} Tasks", project_tasks_path(@project)
