!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title gCamp
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
    = javascript_include_tag 'application'

  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role=>"navigation"}
      .container
        .navbar-header
          %a.navbar-brand{:href=> "/"}gCamp
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user)
            %li
              = link_to "Sign Out", signout_path

    -if notice
      %p.alert.alert-success.text-center#notice
        =notice
    = yield

    .navbar.navbar-inverse.footer
      .container
        .navbar-footer
          %ul.nav.navbar-nav
            %li
              = link_to_unless_current("About", about_path) do
                %li.inactive
                  About
            %li
              = link_to_unless_current("Terms", terms_path) do
                %li.inactive
                  Terms
            %li
              = link_to_unless_current("FAQ", faq_path) do
                %li.inactive
                  FAQ
            %li
              = link_to_unless_current("Users", users_path) do
                %li.inactive
                  Users
            %li
              = link_to_unless_current("Projects", projects_path) do
                %li.inactive
                  Projects
