!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title gCamp
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
    = javascript_include_tag 'application'

  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role=>"navigation"}
      .container
        .navbar-header
          %a.navbar-brand{:href=> "/"}gCamp
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if current_user
              %li
                = link_to "Sign Out", signout_path
            - else
              %li
                = link_to "Sign Up", signup_path
              %li
                = link_to "Sign In", root_path

    -if notice
      %p.alert.alert-success.text-center#notice
        =notice
    = yield

    .navbar.navbar-inverse.footer
      .container
        .navbar-footer
          %ul.nav.navbar-nav
            %li
              = link_to_unless_current("About", about_path) do
                %li.inactive
                  About
            %li
              = link_to_unless_current("Terms", terms_path) do
                %li.inactive
                  Terms
            %li
              = link_to_unless_current("FAQ", faq_path) do
                %li.inactive
                  FAQ
            %li
              = link_to_unless_current("Tasks", tasks_path(sort_by: 'complete')) do
                %li.inactive
                  Tasks
            %li
              = link_to_unless_current("Users", users_path) do
                %li.inactive
                  Users
            %li
              = link_to_unless_current("Projects", projects_path) do
                %li.inactive
                  Projects

          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to 'https://github.com/smturek' do
                =image_tag("GitHub.jpeg", :class => "social")

            %li
              = link_to 'https://www.linkedin.com/profile/view?id=375933376&trk=nav_responsive_tab_profile' do
                =image_tag("linkedin.png", :class => "social")

            %li
              = link_to 'https://twitter.com/smturek' do
                =image_tag("Twitter.png", :class => "social")

            %li
              = link_to 'http://www.galvanize.it/school/#main' do
                =image_tag("gschool.png", :class => "gschool")
